<ion-tabs>

  <ion-tab-bar slot="Top">

    <!--Auto created tab page with ionic tab template-->

    <ion-tab-button tab="tab1">
      <ion-icon name="skull-outline"></ion-icon>
      <ion-label>Killer Tech</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Tech Recommendations</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="shirt-outline"></ion-icon>
      <ion-label>Top Tech Apparel</ion-label>
    </ion-tab-button>

    <!--Adds home page to tab bar-->
    <ion-tab-button tab="home">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Tech News </ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>
